<template>
	<section class="panel">
		<adm-panel-sidenav>
		</adm-panel-sidenav>

		<div class="panel__body">
			<transition name="scale-fade">
				<router-view></router-view>
			</transition>
		</div>

		<mu-snackbar>
		</mu-snackbar>
	</section>
</template>

<script>
	import { mapGetters } from 'vuex';

	export default {
		components: {
			'adm-panel-sidenav': require('./PanelSidenav')
		}
	}
</script>

<style lang="sass">
	.panel{
		height: 100%;
		&__body{
			height: 100%;
			> * {
				width: 100%;
				height: 100%;
				margin: 0;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
</style>
