<template>
	<md-sidenav class="panel-sidenav md-left" ref="sidenav" @close="closeSidenav">
		<mu-container>
			<md-toolbar slot="header" class="md-account-header">
				<md-list class="md-transparent">
					<md-list-item class="md-avatar-list">
						<md-avatar class="md-large md-avatar-icon">
							<md-icon>
								person
							</md-icon>
						</md-avatar>

						<span style="flex: 1"></span>
					</md-list-item>

					<md-list-item v-if="user">
						<div class="md-list-text-container">
							<span class="panel-sidenav__user">
								{{ user.profile.given_name }}
								{{ user.profile.family_name }}
							</span>
							<span class="panel-sidenav__email">
								{{ user.profile.email }}
							</span>
						</div>

						<md-menu md-direction="bottom left" md-size="4">
							<md-button class="panel-sidenav__more md-icon-button" md-menu-trigger>
								<md-icon>arrow_drop_down</md-icon>
							</md-button>

							<md-menu-content>
								<md-menu-item>
									<span>Configurações</span>
									<md-icon>settings</md-icon>
								</md-menu-item>

								<md-menu-item @click.native="onLogout(); closeSidenav();">
									<span>Sair</span>
									<md-icon>power_settings_new</md-icon>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</md-list-item>
				</md-list>
			</md-toolbar>

			<md-list class="panel-sidenav__body" slot="body">
				<md-list-item>
					<router-link to="/dashboard" @click.native="closeSidenav">
						<md-icon>dashboard</md-icon>
						<span>Dashboard</span>
					</router-link>
				</md-list-item>

				<md-list-item>
					<router-link to="/users" @click.native="closeSidenav">
						<md-icon>person</md-icon> <span>Usuários</span>
					</router-link>
				</md-list-item>

				<md-list-item>
					<router-link to="/pages" @click.native="closeSidenav">
						<md-icon>subject</md-icon> <span>Páginas</span>
					</router-link>
				</md-list-item>

				<md-list-item>
					<md-icon>library_books</md-icon> <span>Blog</span>

					<md-list-expand>
						<md-list>
							<md-list-item class="md-inset">
								<router-link to="/posts" @click.native="closeSidenav">
									Postagens
								</router-link>
							</md-list-item>

							<md-list-item class="md-inset">
								<router-link to="/categories" @click.native="closeSidenav">
									Categorias
								</router-link>
							</md-list-item>
						</md-list>
					</md-list-expand>
				</md-list-item>

				<md-list-item>
					<router-link to="/events" @click.native="closeSidenav">
						<md-icon>event</md-icon> <span>Eventos</span>
					</router-link>
				</md-list-item>

				<md-list-item>
					<router-link to="/images" @click.native="closeSidenav">
						<md-icon>photo_library</md-icon> <span>Imagens</span>
					</router-link>
				</md-list-item>

				<md-list-item>
					<router-link to="/partners" @click.native="closeSidenav">
						<md-icon>people</md-icon> <span>Parceiros</span>
					</router-link>
				</md-list-item>

				<md-list-item>
					<md-icon>store_mall_directory</md-icon> <span>Instituições</span>

					<md-list-expand>
						<md-list>
							<md-list-item
								class="md-inset"
								v-for="institution in institutions"
								:key="institution.id"
							>
								<router-link :to="'/institutions/edit/' + institution.id" @click.native="closeSidenav">
									{{ institution.name }}
								</router-link>
							</md-list-item>
						</md-list>
					</md-list-expand>
				</md-list-item>

				<md-list-item>
					<router-link to="/volunteers" @click.native="closeSidenav">
						<md-icon>mood</md-icon> <span>Voluntários</span>
					</router-link>
				</md-list-item>

				<md-list-item class="md-warn">
					<router-link to="/donations" @click.native="closeSidenav">
						<md-icon>favorite</md-icon> <span>Doações</span>
					</router-link>
				</md-list-item>
			</md-list>
		</mu-container>
	</md-sidenav>
</template>

<script>
	import { mapGetters, mapMutations } from 'vuex';
	import { router } from '../../core';

	export default {
		computed: {
			...mapGetters({
				sidenav: 'sidenav/isActive',
				user: 'auth/getUser',
				institutions: 'institution/getInstitutions'
			})
		},
		watch: {
			sidenav (value) {
				if (value) {
					this.$refs.sidenav.open();
				} else {
					this.$refs.sidenav.close();
				}
			}
		},
		mounted() {
			this.$store.dispatch('institution/fetchInstitutions');
		},
		methods: {
			...mapMutations({
				openSidenav: 'sidenav/open',
				closeSidenav: 'sidenav/close',
				toggleSidenav: 'sidenav/toggle',
			}),
			onLogout() {
				this.$store.commit('auth/logout');
				this.$router.push('/auth');
			}
		}
	}
</script>

<style lang="sass">
	.panel-sidenav{
		&__email,
		&__more .md-icon{
			color: hsla(0, 0%, 100%, .54) !important;
		}
		&__more{
			margin-right: 0;
		}
		.mu-container__body{
			display: block;
		}
	}
</style>
