<template>
	<mu-container>
		<md-toolbar slot="header" class="donation__header">
			<md-button @click.native="toggleSidenav" class="md-icon-button">
				<md-icon>menu</md-icon>
			</md-button>

			<h2 class="md-title" style="flex: 1">
				Doações
			</h2>

			<adm-search-input @change="onSearchChange">
			</adm-search-input>
		</md-toolbar>

		<md-list slot="body">
			<adm-donation-item
				v-for="donation in donations"
				:donation="donation"
				:key="donation.id"
				@click="openDonation"
			>
			</adm-donation-item>

			<router-view @close="closeDonation"></router-view>
		</md-list>
	</mu-container>
</template>

<script>
	import { mapMutations } from 'vuex';
	import { store } from '../../core';
	import DonationItem from './DonationItem';

	export default {
		components: {
			'adm-donation-item': DonationItem
		},
		data () {
			return {
				donations: [],
				next_page_url: null
			}
		},
		/*
		 * Retrieve data before render component
		 */
		beforeRouteEnter (to, from, next) {
			store.dispatch('donation/getDonations')
			.then(response => {
				next(vm => {
					if (response.status == 200) {
						vm.donations.push(...response.body.data);
						vm.next_page_url = response.body.next_page_url;
					}
				})
			});
		},
		methods: {
			...mapMutations({
				toggleSidenav: 'sidenav/toggle'
			}),
			onSearchChange (event) {
				store.dispatch('donation/searchDonations', {
					q: event
				})
					.then(response => {
						this.donations = [];
						this.donations.push(...response.body.data);
						this.next_page_url = response.body.next_page_url;
					});
			},
			openDonation (event) {
				this.$router.push('/donations/' + event.id);
			},
			closeDonation (event) {
				setTimeout(() => this.$router.push('/donations'), 300);
			}
		}
	}
</script>
