<template>
	<md-card class="donation-card md-accent has-ripple" md-with-hover
		@click.native="onClick"
	>
		<md-ink-ripple/>
		<md-card-header>
			<div class="md-title">R$ {{ donation.invoice.total }}</div>
			<div class="md-subhead">{{ donation.invoice.person.full_name }}</div>
		</md-card-header>

		<md-card-content>
			<span class="donation-card__item">
				Instituição de <b>{{ donation.institution.name }}</b>
			</span>
			<span class="donation-card__item">
				Doação realizada em <b v-moment-ago="donation.created_at"></b>
			</span>
			<span class="donation-card__item">
				Pagamento <b>{{ getStatus() }}</b>
			</span>
		</md-card-content>
	</md-card>
</template>

<script>
export default {
	props: {
		donation: {
			type: Object,
			default: () => {}
		}
	},
	methods: {
		onClick (event) {
			this.$emit('click', event);
		},
		getStatus () {
			let status = 'Pendente';

			this.donation.invoice.transactions.forEach(transaction => {
				if (transaction.status == 'accepted')
					status = 'Aprovado';
			})

			return status;
		}
	}
}
</script>

<style lang="sass">
	.donation-card{
		&__item{
			display: block;
		}
	}
</style>
