<template>
	<md-layout md-gutter="16" class="donation-info">
		<md-layout md-flex="50" md-flex-small="100">
			<ul class="donation-info__data">
				<li class="donation-info__field">
					<span class="donation-info__label md-caption">Doador</span>
					<span class="donation-info__value md-body">{{donation.invoice.person.full_name}}</span>
					<span class="donation-info__value md-body">{{donation.invoice.person.email}}</span>
				</li>
				<li class="donation-info__field">
					<span class="donation-info__label md-caption">Endereço</span>
					<span class="donation-info__value md-body">{{donation.invoice.person.address.street}} Rua São Miguel, 220 – Varadouro</span>
					<span class="donation-info__value md-body">João Pessoa, Paraíba</span>
				</li>
				<li class="donation-info__field">
					<span class="donation-info__label md-caption">Telefone</span>
					<span class="donation-info__value md-body">(83) 98805-2880</span>
					<span class="donation-info__value md-body">(83) 3262-0393</span>
				</li>
			</ul>
		</md-layout>

		<md-layout md-flex="50" md-flex-small="100">
			<ul class="donation-info__data">
				<li class="donation-info__field">
					<span class="donation-info__label md-caption">Instituição</span>
					<span class="donation-info__value md-body">{{ donation.institution.name }}</span>
				</li>
				<li class="donation-info__field">
					<span class="donation-info__label md-caption">Valor</span>
                    <span class="donation-info__value md-body">R$ {{ donation.invoice.total }}</span>
				</li>
				<li class="donation-info__field">
					<span class="donation-info__label md-caption">Data da doação</span>
					<span class="donation-info__value md-body" v-moment-ago="donation.created_at">
					</span>
				</li>
				<li class="donation-info__field">
					<span class="donation-info__label md-caption">Status</span>
					<span class="donation-info__value md-body donation-info__status">
						{{ getStatus() }}
					</span>
				</li>
			</ul>
		</md-layout>
	</md-layout>
</template>

<script>
	export default {
		props: {
			donation: {
				type: Object,
				default: () => {}
			}
		},
		methods: {
			getStatus () {
				let status = 'Pendente';

				this.donation.invoice.transactions.forEach(transaction => {
					if (transaction.status == 'accepted')
						status = 'Aprovado';
				})

				return status;
			}
		}
	}
</script>

<style lang="sass">
	.donation-info{
		&__data{
			padding-left: 0;
		}
		&__field{
			list-style: none;
			margin-bottom: 20px;
		}
		&__value{
			display: block;
		}
		&__status{
			&.is-approved{
				color: green !important;
			}
			&.is-canceled{
				color: red !important;
			}
			// color: orange !important;
		}
	}
</style>
