<template>
	<div class="model-status">
		<span class="md-subheading">
			Detalhes
		</span>

		<ul class="model-status__data">
			<li class="model-status__field">
				<span class="model-status__label md-caption">
					Criado em
				</span>
				<span
					class="model-status__value md-body"
					v-if="value.created_at"
					v-moment-ago="value.created_at"
				>
				</span>
				<span class="model-status__value md-body" v-else>
					Indisponível
				</span>
			</li>
			<li class="model-status__field">
				<span class="model-status__label md-caption">
					Última atualização
				</span>
				<span
					class="model-status__value md-body"
					v-if="value.updated_at"
					v-moment-ago="value.updated_at"
				>
				</span>
				<span class="model-status__value md-body" v-else>
					Indisponível
				</span>
			</li>
		</ul>
	</div>
</template>

<script>
	export default {
		props: {
			value: {
				type: Object,
				default: () => ({
					created_at: null,
					updated_at: null
				})
			}
		}
	}
</script>

<style lang="sass">
	.model-status{
		margin-bottom: 20px;
		&__data{
			padding-left: 0;
		}
		&__field{
			list-style: none;
			margin-bottom: 20px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		&__value{
			display: block;
		}
	}
</style>
