<template>
	<md-table v-once>
		<md-table-header>
			<md-table-row>
				<md-table-head>Data</md-table-head>
				<md-table-head>Método</md-table-head>
				<md-table-head>Status</md-table-head>
			</md-table-row>
		</md-table-header>

		<md-table-body>
			<md-table-row class="transaction"
				v-for="transaction in invoice.transactions"
				:key="transaction.id"
			>
				<md-table-cell v-moment-ago="transaction.created_at">
				</md-table-cell>
				<md-table-cell>Pagseguro</md-table-cell>
				<md-table-cell class="transaction__status"
					:class="{
						'is-approved': transaction.status == 'accepted',
						'is-pending': transaction.status == 'pending',
						'is-canceled': transaction.status == 'canceled'
					}"
				>
					{{ getStatus(transaction) }}
				</md-table-cell>
			</md-table-row>
		</md-table-body>
	</md-table>
</template>

<script>
	export default {
		props: {
			invoice: {
				type: Object,
				default: () => ({
					transactions: []
				})
			}
		},
		methods: {
			getStatus (transaction) {
				let status = 'Pendente';

				if (transaction.status == 'accepted')
					status = 'Aprovado';

				return status;
			}
		}
	}
</script>

<style lang="sass">
	.transaction{
		&__status{
			&.is-approved{
				color: green !important;
			}
			&.is-canceled{
				color: red !important;
			}
			color: orange !important;
		}
	}
</style>
