<template>
	<mu-container ref="container">
		<md-toolbar slot="header">
			<md-button @click.native="toggleSidenav" class="md-icon-button">
				<md-icon>menu</md-icon>
			</md-button>

			<h2 class="md-title" style="flex: 1">
				Imagens
			</h2>

			<adm-search-input>
			</adm-search-input>
		</md-toolbar>

		<mu-grid
			ref="grid"
			slot="body"
			:limit="limit"
			:images="images"
			@select="onSelect"
		>
		</mu-grid>

		<template slot="sidenav">
			<adm-media-image-form
				v-model="active"
				v-if="active"
				@close="onClose"
				@confirm="onConfirm"
				@delete="onDelete"
			>
			</adm-media-image-form>
		</template>

		<template slot="footer">
			<md-button @click="upload" class="md-fab">
				<md-icon>add</md-icon>
			</md-button>

			<!-- Uploader -->
			<mu-uploader
				ref="uploader"
				@next="onNext"
			>
			</mu-uploader>
		</template>
	</mu-container>
</template>

<script>
	import { mapMutations } from 'vuex';
	import { store } from '../../../core';

	export default {
		components: {
			'adm-media-image-form': require('./MediaImageForm')
		},
		props: {
			limit: {
				type: Number,
				default: 1
			}
		},
		data () {
			return {
				images: [],
				deleted: [],
				active: null,
				next_page_url: null
			}
		},
		/*
		 * Retrieve data before render component
		 */
		beforeRouteEnter (to, from, next) {
			store.dispatch('media/getImages')
			.then(response => {
				next(vm => {
					if (response.status == 200) {
						vm.images.push(...response.body.data);
						vm.next = response.body.next_page_url;
					}
				})
			});
		},
		methods: {
			...mapMutations({
				toggleSidenav: 'sidenav/toggle'
			}),
			upload () {
				this.$refs.uploader.select();
			},
			close () {
				this.$refs.container.sidenav(false);
			},
			onClose () {
				this.close();
			},
			onConfirm (media) {
				this.$store.dispatch('media/editMedia', { media })
					.then(response => {
						this.$logger.success(`Imagem ${media.name} editada com sucesso!`);
					});
			},
			onDelete (media) {
				this.$store.dispatch('media/deleteMedia', media)
					.then(response => {
						// Remove from images array
						let index = this.images.indexOf(media)

						if (index != -1)
							this.deleted.push(this.images.splice(index, 1));

						this.$logger.success(`Imagem ${media.name} excluída com sucesso!`);
						this.close();
					});
			},
			onSelect (active) {
				this.active = active;
				this.$refs.container.sidenav(active != null);
			},
			onNext (event) {
				this.$store.dispatch('media/addMedia', event)
					.then(response => {
						if (response.status == 200)
							this.images.unshift(response.body);

						this.$refs.uploader.done()
					}, error => this.$logger.error(error.statusText));
			},
			getSelected() {
				let selected = this.$refs.grid._data.selected;

				this.deleted.forEach(media => {
					let index = selected.indexOf(media);

					if (index != -1)
						selected.splice(index, 1);
				});

				return selected;
			},
			setImages(images) {
				this.active = null;
				this.deleted = [];
				this.$refs.grid._data.selected = [];
				this.images = images;
			}
		}
	}
</script>
