<template>
	<div class="media-image-info">
		<ul class="media-image-info__data">
			<li class="media-image-info__field">
				<span class="media-image-info__label md-caption">Última Atualização</span>
				<span
					class="media-image-info__value md-body"
					v-if="value.updated_at"
					v-moment-ago="value.updated_at"
				>
				</span>
				<span class="media-image-info__value md-body" v-else>
					Indisponível
				</span>

			</li>
			<li class="media-image-info__field">
				<span class="media-image-info__label md-caption">Tamanho</span>
				<span class="media-image-info__value md-body">{{ (value.size / 1000).toFixed(2) }}kb</span>
			</li>
			<li class="media-image-info__field">
				<span class="media-image-info__label md-caption">Tipo</span>
				<span class="media-image-info__value md-body">{{ value.data['mimeType'] }}</span>
			</li>
			<li class="media-image-info__field">
				<span class="media-image-info__label md-caption">Dimensões</span>
				<span class="media-image-info__value md-body">{{ value.data['width'] }} x {{ value.data['height'] }}</span>
			</li>
		</ul>
		
		<md-button class="md-button md-raised md-primary media-image-info__tab"
			target="__blank"
			:href="value.src"
		>
			Abrir em uma nova aba
		</md-button>
	</div>
</template>

<script>
	export default {
		props: {
			value: {
				type: Object,
				default: () => null
			}
		},
		methods: {
			onOpen (event) {
				this.$emit('open', event);
			}
		}
	}
</script>

<style lang="sass" scoped>
	.media-image-info{
		&__data{
			padding-left: 0;
		}
		&__field{
			list-style: none;
			margin-bottom: 20px;
		}
		&__value{
			display: block;
		}
		&__tab{
			margin: 5px 0 10px;
		}
	}
</style>
