<template>
	<div>
		<!-- Name -->
		<md-input-container
			:class="{'md-input-invalid': errors.has('name')}"
		>
			<label>Título</label>
			<md-input
				data-vv-name="name"
				v-model="value.name"
				v-validate="'min:4'"
			>
			</md-input>

			<span
				class="md-error"
				v-show="errors.has('name')"
			>
				{{ errors.first('name') }}
			</span>
		</md-input-container>

		<!-- Caption -->
		<md-input-container>
			<label>Legenda</label>
			<md-textarea
				v-model="value.caption"
			>
			</md-textarea>
		</md-input-container>
	</div>
</template>

<script>
	export default {
		props: {
			value: {
				type: Object,
				default: () => {
					return {
						name: '',
						file_name: '',
						caption: '',
						data: [],
						size: 0,
						src: ''
					}
				}
			}
		}
	}
</script>

<style>
</style>
