<template>
	<mu-container>
		<md-toolbar slot="header">
			<md-button @click.native="previous" class="md-icon-button">
				<md-icon>arrow_back</md-icon>
			</md-button>

			<h2 class="md-title" style="flex: 1">
				{{ (action == 'add') ?
					'Adicionar Usuário' :
					'Editar Usuário'
				}}
			</h2>

			<md-button @click.native="submit(success)" class="md-icon-button">
				<md-icon>check</md-icon>
			</md-button>
		</md-toolbar>

		<form
			ref="form"
			class="user__form"
			slot="body"
		>
			<md-layout md-gutter="16">
				<md-layout
					class="user__main"
					md-flex-small="100"
					md-flex="66"
				>
					<adm-user-fieldset v-model="user" :password="password" :action="action">
					</adm-user-fieldset>
				</md-layout>

				<md-layout
					class="user__aside"
					md-flex-small="100"
					md-flex="33"
				>
					<adm-model-status v-model="user">
					</adm-model-status>
				</md-layout>
			</md-layout>
		</form>
	</mu-container>
</template>

<script>
	import { router, store, validateParent } from '../../core';

	export default {
		components: {
			'adm-user-fieldset': require('./UserFieldset'),
		},
		mixins: [validateParent],
		data () {
			return {
				action: 'add',
				user: {
					profile: {},
					accounts: {
						local: {}
					},
					roles: [],
					created_at: '',
					deleted_at: ''
				},
				password: {
					first: '',
					second: ''
				}
			}
		},
		beforeRouteEnter(to, from, next) {
			// Get the user if router has id parameter
			if (to.params.id) {
				store.dispatch('user/getUser', { id: to.params.id })
				.then(response => {
					next(vm => {
						vm.action = 'edit';
						vm.user = response.data;
					});
				});
			} else {
				next();
			}
		},
		methods: {
			success () {
				this.$store.dispatch(`user/${this.action}User`, {
					user: this.user,
					password: this.password.first
				})
					.then(response => {
						this.$logger.success(`
							Usuário
							${this.user.full_name}
							${this.action == 'add' ? 'adicionado' : 'editado'}
							com sucesso!
						`);
						this.previous();
					});
			},
			previous () {
				this.$router.push('/users');
			}
		}
	}
</script>

<style lang="sass" scoped>
	.user{
		&__form{
			padding: 16px;
		}
		&__main,
		&__aside{
			display: block;
		}
	}
</style>
