<template>
	<md-layout md-gutter="16">
		<md-layout md-flex="100" class="md-subheading">
			Usuário
		</md-layout>

		<!-- Given Name -->
		<md-layout md-flex="50" md-flex-small="100">
			<md-input-container
				:class="{'md-input-invalid': errors.has('given_name')}"
			>
				<label>
					Nome
				</label>
				<md-input
					data-vv-name="given_name"
					v-model="value.profile.given_name"
					v-validate="'required|min:4'"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('given_name')"
				>
					{{ errors.first('given_name') }}
				</span>
			</md-input-container>
		</md-layout>

		<!-- Family Name -->
		<md-layout md-flex="50" md-flex-small="100">
			<md-input-container
				:class="{'md-input-invalid': errors.has('family_name')}"
			>
				<label>
					Sobrenome
				</label>
				<md-input
					data-vv-name="family_name"
					v-model="value.profile.family_name"
					v-validate="'required|min:4'"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('family_name')"
				>
					{{ errors.first('family_name') }}
				</span>
			</md-input-container>
		</md-layout>

		<!-- Login -->
		<md-layout md-flex="50" md-flex-small="100">
			<md-input-container
				:class="{'md-input-invalid': errors.has('username')}"
			>
				<label>
					Login
				</label>
				<md-input
					data-vv-name="username"
					v-model="value.accounts.local.username"
					v-validate="'required|min:4'"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('username')"
				>
					{{ errors.first('username') }}
				</span>
			</md-input-container>
		</md-layout>

		<!-- Email -->
		<md-layout md-flex="50" md-flex-small="100">
			<md-input-container
				:class="{'md-input-invalid': errors.has('email')}"
			>
				<label>
					Email
				</label>
				<md-input
					data-vv-name="email"
					v-model="value.profile.email"
					v-validate="'required|min:4'"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('email')"
				>
					{{ errors.first('email') }}
				</span>
			</md-input-container>
		</md-layout>

		<!-- Password -->
		<md-layout md-flex="50" md-flex-small="100">
			<md-input-container
				:class="{'md-input-invalid': errors.has('password')}"
			>
				<label>
					Senha
				</label>
				<md-input
					type="password"
					data-vv-name="password"
					v-model="password.first"
					v-validate="action == 'add' ? 'required|confirmed:confirm|min:6' : 'confirmed:confirm|min:6'"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('password')"
				>
					{{ errors.first('password') }}
				</span>
			</md-input-container>
		</md-layout>

		<!-- Confirm -->
		<md-layout md-flex="50" md-flex-small="100">
			<md-input-container
				:class="{'md-input-invalid': errors.has('confirm')}"
			>
				<label>
					Confirmação
				</label>
				<md-input
					type="password"
					name="confirm"
					data-vv-name="confirm"
					v-model="password.second"
					v-validate="action == 'add' ? 'min:6|required' : 'min:6'"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('confirm')"
				>
					{{ errors.first('confirm') }}
				</span>
			</md-input-container>
		</md-layout>
	</md-layout>
</template>

<script>
	import { validateChild } from '../../core';

	export default {
		mixins: [validateChild],
		props: {
			value: {
				type: Object,
				default: () => {}
			},
			action: {
				type: String,
				default: 'add'
			},
			password: {
				type: Object,
				default: () => ({
					first: '',
					second: ''
				})
			}
		}
	}
</script>
