// Shame
.rd-next,
.rd-back{
	margin: 0;
	position: absolute;
	top: 0;
	&:before{
		content: none;
	}
}

.rd-next{
	right: 0;
}

.rd-back{
	left: 0;
}

.rd-day-head,
.rd-day-body{
	font-size: 12px;
	padding: 5px;
}
