<template>
	<md-layout md-gutter="16">
		<md-layout md-flex="100" class="md-subheading">
			Endereço
		</md-layout>

		<!-- Street -->
		<md-layout md-flex="80" md-flex-small="70">
			<md-input-container
				:class="{'md-input-invalid': errors.has('street')}"
			>
				<label>
					Rua
				</label>
				<md-input
					data-vv-name="street"
					v-model="value.street"
					v-validate="'required|min:4'"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('street')"
				>
					{{ errors.first('street') }}
				</span>
			</md-input-container>
		</md-layout>

		<!-- Number -->
		<md-layout md-flex="20" md-flex-small="30">
			<md-input-container
				:class="{'md-input-invalid': errors.has('number')}"
			>
				<label>
					Número
				</label>
				<md-input
					data-vv-name="number"
					v-model="value.number"
					v-validate="'required'"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('number')"
				>
					{{ errors.first('number') }}
				</span>
			</md-input-container>
		</md-layout>

		<!-- Neighbourhood -->
		<md-layout md-flex="33" md-flex-small="100">
			<md-input-container
				:class="{'md-input-invalid': errors.has('neighbourhood')}"
			>
				<label>
					Bairro
				</label>
				<md-input
					data-vv-name="neighbourhood"
					v-model="value.neighbourhood"
					v-validate="'required|min:4'"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('neighbourhood')"
				>
					{{ errors.first('neighbourhood') }}
				</span>
			</md-input-container>
		</md-layout>

		<!-- Complement -->
		<md-layout md-flex="33" md-flex-small="50">
			<md-input-container>
				<label>
					Complemento
				</label>
				<md-input
					v-model="value.complement"
				>
				</md-input>
			</md-input-container>
		</md-layout>

		<!-- Zipcode -->
		<md-layout md-flex="33" md-flex-small="50">
			<md-input-container
				:class="{'md-input-invalid': errors.has('zipcode')}"
			>
				<label>
					CEP
				</label>
				<md-input
					data-vv-name="zipcode"
					v-model="value.zipcode"
					v-validate="'required|min:4'"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('zipcode')"
				>
					{{ errors.first('zipcode') }}
				</span>
			</md-input-container>
		</md-layout>

		<!-- City -->
		<md-layout md-flex="33" md-flex-small="50">
			<md-input-container
				:class="{'md-input-invalid': errors.has('city')}"
			>
				<label>
					Cidade
				</label>
				<md-input
					data-vv-name="city"
					v-model="value.city"
					v-validate="'required|min:4'"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('city')"
				>
					{{ errors.first('city') }}
				</span>
			</md-input-container>
		</md-layout>

		<!-- State -->
		<md-layout md-flex="33" md-flex-small="50">
			<md-input-container
				:class="{'md-input-invalid': errors.has('state')}"
			>
				<label>
					Estado
				</label>
				<md-input
					data-vv-name="state"
					v-model="value.state"
					v-validate="'required|min:2'"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('state')"
				>
					{{ errors.first('state') }}
				</span>
			</md-input-container>
		</md-layout>

		<!-- Country -->
		<md-layout md-flex="33" md-flex-small="100">
			<md-input-container>
				<label>País</label>
				<md-select v-model="value.country_id">
					<md-option
						v-for="(country, index) in countries"
						:value="+index"
						:key="index"
					>
						{{ country }}
					</md-option>
				</md-select>
			</md-input-container>
		</md-layout>
	</md-layout>
</template>

<script>
	import { validateChild } from '../../core';
	import { mapGetters } from 'vuex';

	export default {
		mixins: [validateChild],
		props: {
			value: {
				type: Object,
				default: () => {}
			}
		},
		computed: {
			...mapGetters({
				countries: 'location/getCountries'
			})
		}
	}
</script>
