<template>
	<mu-container>
		<md-toolbar slot="header">
			<md-button @click.native="previous" class="md-icon-button">
				<md-icon>arrow_back</md-icon>
			</md-button>

			<h2 class="md-title" style="flex: 1">
				Editar Instituição
			</h2>

			<md-button @click.native="submit(success)" class="md-icon-button">
				<md-icon>check</md-icon>
			</md-button>
		</md-toolbar>

		<form
			ref="form"
			class="institution__form"
			slot="body"
		>
			<md-layout md-gutter="16">
				<md-layout
					class="institution__main"
					md-flex-small="100"
					md-flex="66"
				>
					<adm-institution-fieldset v-model="institution">
					</adm-institution-fieldset>

					<adm-address-fieldset v-model="institution.address">
					</adm-address-fieldset>
				</md-layout>

				<md-layout
					class="institution__aside"
					md-flex-small="100"
					md-flex="33"
				>
					<adm-model-status v-model="institution">
					</adm-model-status>

					<adm-media-thumbnail
						title="Imagem destacada"
						v-model="institution.thumbnail"
						@input="onThumbnailChange"
					>
					</adm-media-thumbnail>
				</md-layout>
			</md-layout>
		</form>
	</mu-container>
</template>

<script>
	import { router, store, validateParent } from '../../core';

	export default {
		components: {
			'adm-institution-fieldset': require('./InstitutionFieldset'),
			'adm-address-fieldset': require('../address/AddressFieldset'),
			'adm-media-thumbnail': require('../media/MediaThumbnail'),
		},
		mixins: [validateParent],
		data () {
			return {
				action: 'add',
				institution: {
					name: '',
					location: { lat: 0, lng: 0 },
					address: {},
					address_id: '',
					thumbnail: {},
					thumbnail_id: '',
					created_at: '',
					updated_at: '',
					deleted_at: ''
				},
			}
		},
		beforeRouteEnter(to, from, next) {
			Promise.all([
				store.dispatch('institution/getInstitution', { id: to.params.id }),
				store.dispatch('location/fetchCountries')
			])
			.then(([institution, countries]) => {
				next(vm => {
					vm.institution = institution;
				});
			});
		},
		methods: {
			success () {
				this.$store.dispatch(`institution/editInstitution`, {
					institution: this.institution,
					address: this.institution.address
				})
					.then(response => {
						this.$logger.success(`
							Instituição
							${this.institution.name}
							editada com sucesso!
						`);
					});
			},
			onThumbnailChange (media) {
				this.institution.thumbnail_id = media ? media.id : null;
			},
			previous () {
				this.$router.push('/dashboard');
			}
		}
	}
</script>

<style lang="sass" scoped>
	.institution{
		&__form{
			padding: 16px;
		}
		&__main,
		&__aside{
			display: block;
		}
	}
</style>
