<template>
	<md-card class="volunteer-card has-ripple" md-with-hover
		@click.native="onClick"
	>
		<md-ink-ripple/>
		<md-card-header>
			<div class="md-title">{{ volunteer.person.full_name }}</div>
			<div class="md-subhead">{{ volunteer.ocupation }}</div>
		</md-card-header>

		<md-card-content>
			<span class="volunteer-card__item">
				Dias disponíveis:
				<b v-for="(day, key) in volunteer.days">
					{{ key == 'sun' && day ? 'Dom' : '' }}
					{{ key == 'mon' && day ? 'Seg' : '' }}
					{{ key == 'tue' && day ? 'Ter' : '' }}
					{{ key == 'wed' && day ? 'Qua' : '' }}
					{{ key == 'thu' && day ? 'Qui' : '' }}
					{{ key == 'fri' && day ? 'Sex' : '' }}
					{{ key == 'sat' && day ? 'Sab' : '' }}
				</b>
			</span>
			<span class="volunteer-card__item">
				Turno disponível:
				<b>
					{{ volunteer.shifts == 'first' ? 'Manhã' : '' }}
					{{ volunteer.shifts == 'second' ? 'Tarde' : '' }}
					{{ volunteer.shifts == 'third' ? 'Noite' : '' }}
				</b>
			</span>
			<span class="volunteer-card__item">
				Habilidades:
				<b>
					{{ volunteer.abilities }}
				</b>
			</span>
		</md-card-content>
	</md-card>
</template>

<script>
export default {
	props: {
		volunteer: {
			type: Object,
			default: () => {}
		}
	},
	methods: {
		onClick (event) {
			this.$emit('click', event);
		}
	}
}
</script>

<style lang="sass">
	.volunteer-card{
		&__item{
			display: block;
		}
	}
</style>
