<template>
	<md-layout class="volunteer-fieldset" md-gutter="16">
		<md-layout md-flex="100" class="md-subheading">
			Voluntário
		</md-layout>

		<!-- CPF -->
		<md-layout md-flex="33" md-flex-small="100">
			<md-input-container
				:class="{'md-input-invalid': errors.has('cpf')}"
			>
				<label>
					CPF
				</label>
				<md-input
					data-vv-name="cpf"
					v-model="value.person.cpf"
					v-validate="'required|min:14'"
					v-mask-cpf
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('cpf')"
				>
					{{ errors.first('cpf') }}
				</span>
			</md-input-container>
		</md-layout>

		<!-- RG -->
		<md-layout md-flex="33" md-flex-small="100">
			<md-input-container
				:class="{'md-input-invalid': errors.has('rg')}"
			>
				<label>
					RG
				</label>
				<md-input
					data-vv-name="rg"
					v-model="value.person.rg"
					v-validate="'required|min:6'"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('rg')"
				>
					{{ errors.first('rg') }}
				</span>
			</md-input-container>
		</md-layout>

		<!-- Civil Status -->
		<md-layout md-flex="33" md-flex-small="100">
			<md-input-container>
				<label>Estado Civil</label>
				<md-select v-model="value.civil_status">
					<md-option value="single">
						Solteiro(a)
					</md-option>
					<md-option value="married">
						Casado(a)
					</md-option>
					<md-option value="divorced">
						Divorciado(a)
					</md-option>
					<md-option value="widowed">
						Viúvo(a)
					</md-option>
				</md-select>
			</md-input-container>
		</md-layout>

		<!-- Birthday -->
		<md-layout md-flex="33" md-flex-small="100">
			<md-input-container
				:class="{'md-input-invalid': errors.has('birthday')}"
			>
				<label>
					Data de Nascimento
				</label>
				<md-input
					data-vv-name="birthday"
					v-model="value.birthday"
					v-validate="'required|min:10'"
					v-mask-date
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('birthday')"
				>
					{{ errors.first('birthday') }}
				</span>
			</md-input-container>
		</md-layout>

		<!-- Ocupation -->
		<md-layout md-flex="66" md-flex-small="100">
			<md-input-container
				:class="{'md-input-invalid': errors.has('ocupation')}"
			>
				<label>
					Ocupação
				</label>
				<md-input
					data-vv-name="ocupation"
					v-model="value.ocupation"
					v-validate="'required|min:4'"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('ocupation')"
				>
					{{ errors.first('ocupation') }}
				</span>
			</md-input-container>
		</md-layout>

		<!-- Reason -->
		<md-layout md-flex="50" md-flex-small="100">
			<md-input-container>
				<label>
					Razão
				</label>
				<md-textarea
					v-model="value.reason"
				>
				</md-textarea>
			</md-input-container>
		</md-layout>

		<!-- Religion -->
		<md-layout md-flex="50" md-flex-small="100">
			<md-input-container>
				<label>
					Religião
				</label>
				<md-input
					v-model="value.religion"
				>
				</md-input>
			</md-input-container>
		</md-layout>

		<!-- Suggestions -->
		<md-layout md-flex="50" md-flex-small="100">
			<md-input-container>
				<label>
					Sugestões
				</label>
				<md-textarea
					v-model="value.suggestions"
				>
				</md-textarea>
			</md-input-container>
		</md-layout>

		<!-- Abilities -->
		<md-layout md-flex="50" md-flex-small="100">
			<md-input-container
				:class="{'md-input-invalid': errors.has('abilities')}"
			>
				<label>
					Habilidades
				</label>
				<md-textarea
					data-vv-name="abilities"
					v-model="value.abilities"
					v-validate="'required'"
				>
				</md-textarea>

				<span
					class="md-error"
					v-show="errors.has('abilities')"
				>
					{{ errors.first('abilities') }}
				</span>
			</md-input-container>
		</md-layout>

		<!-- Days -->
		<md-layout md-flex="50" class="volunteer-fieldset__days">
			<span class="md-caption">
				Disponíbilidade
			</span>

			<md-checkbox v-model="value.days.sun">
				Domingo
			</md-checkbox>
			<md-checkbox v-model="value.days.mon">
				Segunda-feira
			</md-checkbox>
			<md-checkbox v-model="value.days.tue">
				Terça-feira
			</md-checkbox>
			<md-checkbox v-model="value.days.wed">
				Quarta-feira
			</md-checkbox>
			<md-checkbox v-model="value.days.thu">
				Quinta-feira
			</md-checkbox>
			<md-checkbox v-model="value.days.fri">
				Sexta-feira
			</md-checkbox>
			<md-checkbox v-model="value.days.sat">
				Sábado
			</md-checkbox>
		</md-layout>

		<!-- Shifts -->
		<md-layout md-flex="50" class="volunteer-fieldset__days">
			<span class="md-caption">
				Turnos
			</span>

			<md-checkbox v-model="value.shifts.first">
				Manhã
			</md-checkbox>

			<md-checkbox v-model="value.shifts.second">
				Tarde
			</md-checkbox>
		</md-layout>
	</md-layout>
</template>

<script>
	import { validateChild } from '../../core';

	export default {
		mixins: [validateChild],
		props: {
			value: {
				type: Object,
				default: () => {}
			}
		}
	}
</script>

<style lang="sass">
	.volunteer-fieldset{
		&__days{
			margin-bottom: 20px;
			align-content: flex-start;
			.md-caption{
				flex: 1 100%;
			}
			.md-checkbox,
			.md-radio{
				flex: 1 25%;
			}
		}
	}
</style>
