<template>
	<mu-container>
		<md-toolbar slot="header" class="volunteer__header">
			<md-button @click.native="toggleSidenav" class="md-icon-button">
				<md-icon>menu</md-icon>
			</md-button>

			<h2 class="md-title" style="flex: 1">
				Voluntários
			</h2>

			<adm-search-input @change="onSearchChange">
			</adm-search-input>
		</md-toolbar>

		<md-list slot="body">
			<adm-volunteer-item
				v-for="volunteer in volunteers"
				:volunteer="volunteer"
				:key="volunteer.id"
				@click="editVolunteer"
				@delete="deleteVolunteer"
			>
			</adm-volunteer-item>
		</md-list>

		<div slot="footer" class="volunteer__footer">
			<md-button @click.native="add" class="md-fab">
				<md-icon>add</md-icon>
			</md-button>
		</div>
	</mu-container>
</template>

<script>
	import { mapMutations } from 'vuex';
	import { store } from '../../core';
	import VolunteerItem from './VolunteerItem';

	export default {
		components: {
			'adm-volunteer-item': VolunteerItem
		},
		data () {
			return {
				volunteers: [],
				next_page_url: null
			}
		},
		/*
		 * Retrieve data before render component
		 */
		beforeRouteEnter (to, from, next) {
			store.dispatch('volunteer/getVolunteers')
			.then(response => {
				next(vm => {
					if (response.status == 200) {
						vm.volunteers.push(...response.body.data);
						vm.next_page_url = response.body.next_page_url;
					}
				})
			});
		},
		methods: {
			...mapMutations({
				toggleSidenav: 'sidenav/toggle'
			}),
			editVolunteer (volunteer) {
				this.$router.push(`/volunteers/edit/${volunteer.id}`);
			},
			deleteVolunteer (volunteer) {

				this.$store.dispatch('volunteer/deleteVolunteer', volunteer)
					.then(response => {
						let index = this.volunteers.indexOf(volunteer)

						if (index != -1)
							this.volunteers.splice(index, 1);

						this.$logger.success(`Usuário ${volunteer.person.email} excluído com sucesso!`);
					});
			},
			add () {
				this.$router.push('/volunteers/add');
			},
			onSearchChange (event) {
				store.dispatch('volunteer/searchVolunteers', {
					q: event
				})
					.then(response => {
						this.volunteers = [];
						this.volunteers.push(...response.body.data);
						this.next_page_url = response.body.next_page_url;
					});
			}
		}
	}
</script>
