<template>
	<mu-container>
		<md-toolbar slot="header">
			<md-button @click.native="previous" class="md-icon-button">
				<md-icon>arrow_back</md-icon>
			</md-button>

			<h2 class="md-title" style="flex: 1">
				{{ (action == 'add') ?
					'Adicionar Voluntário' :
					'Editar Voluntário'
				}}
			</h2>

			<md-button @click.native="submit(success)" class="md-icon-button">
				<md-icon>check</md-icon>
			</md-button>
		</md-toolbar>

		<form
			ref="form"
			class="volunteer__form"
			slot="body"
		>
			<md-layout md-gutter="16">
				<md-layout
					class="volunteer__main"
					md-flex-small="100"
					md-flex="66"
				>
					<adm-volunteer-fieldset v-model="volunteer">
					</adm-volunteer-fieldset>

					<adm-person-fieldset v-model="volunteer.person">
					</adm-person-fieldset>

					<adm-address-fieldset v-model="volunteer.person.address">
					</adm-address-fieldset>
				</md-layout>

				<md-layout
					class="volunteer__aside"
					md-flex-small="100"
					md-flex="33"
				>
					<adm-model-status v-model="volunteer">
					</adm-model-status>
				</md-layout>
			</md-layout>
		</form>
	</mu-container>
</template>

<script>
	import { router, store, validateParent } from '../../core';

	export default {
		components: {
			'adm-volunteer-fieldset': require('./VolunteerFieldset'),
			'adm-person-fieldset': require('../person/PersonFieldset'),
			'adm-address-fieldset': require('../address/AddressFieldset'),
		},
		mixins: [validateParent],
		data () {
			return {
				action: 'add',
				volunteer: {
					civil_status: '',
					birthday: '',
					ocupation: '',
					religion: '',
					reason: '',
					suggestions: '',
					abilities: '',
					days: {
						sun: false,
						mon: false,
						tue: false,
						wed: false,
						thu: false,
						fri: false,
						sat: false
					},
					shifts: {
						first: false,
						second: false
					},
					person: {
						first_name: '',
						last_name: '',
						email: '',
						phone: '',
						mobile: '',
						cpf: '',
						rg: '',
						address: {
							street: '',
							number: '',
							neighbourhood: '',
							zipcode: '',
							city: '',
							state: '',
							country_id: 76
						}
					}
				}
			}
		},
		beforeRouteEnter(to, from, next) {
			// Get the volunteer if router has id parameter
			if (to.params.id) {
				Promise.all([
					store.dispatch('volunteer/getVolunteer', { id: to.params.id }),
					store.dispatch('location/fetchCountries')
				]).then(([volunteer, countries]) => {
					next(vm => {
						vm.action = 'edit';
						vm.volunteer = volunteer.data;

						// Fix birthday format
						vm.volunteer.birthday = moment(vm.volunteer.birthday, 'YYYY-MM-DD').format('DD/MM/YYYY');
					});
				});
			} else {
				store.dispatch('location/fetchCountries')
					.then(response => next())
			}
		},
		methods: {
			success () {
				this.$store.dispatch(`volunteer/${this.action}Volunteer`, {
					volunteer: this.volunteer,
					person: this.volunteer.person,
					address: this.volunteer.person.address,
				})
					.then(response => {
						this.$logger.success(`
							Voluntário
							${this.volunteer.person.first_name}
							${this.action == 'add' ? 'adicionado' : 'editado'}
							com sucesso!
						`);
						this.previous();
					});
			},
			previous () {
				this.$router.push('/volunteers');
			}
		}
	}
</script>

<style lang="sass" scoped>
	.volunteer{
		&__form{
			padding: 16px;
		}
		&__main,
		&__aside{
			display: block;
		}
	}
</style>
