<template>
	<mu-container>
		<md-toolbar slot="header">
			<md-button @click.native="previous" class="md-icon-button">
				<md-icon>arrow_back</md-icon>
			</md-button>

			<h2 class="md-title" style="flex: 1">
				{{ (action == 'add') ?
					'Adicionar Category' :
					'Editar Category'
				}}
			</h2>

			<md-button @click.native="submit(success)" class="md-icon-button">
				<md-icon>check</md-icon>
			</md-button>
		</md-toolbar>

		<form
			ref="form"
			class="category__form"
			slot="body"
		>
			<md-layout md-gutter="16">
				<md-layout
					class="category__main"
					md-flex-small="100"
					md-flex="66"
				>
					<adm-category-fieldset v-model="category">
					</adm-category-fieldset>
				</md-layout>

				<md-layout
					class="category__aside"
					md-flex-small="100"
					md-flex="33"
				>
					<adm-model-status v-model="category">
					</adm-model-status>
				</md-layout>
			</md-layout>
		</form>
	</mu-container>
</template>

<script>
	import { router, store, validateParent } from '../../core';

	export default {
		components: {
			'adm-category-fieldset': require('./CategoryFieldset'),
		},
		mixins: [validateParent],
		data () {
			return {
				action: 'add',
				category: {
					name: '',
					slug: '',
					created_at: '',
					updated_at: '',
					deleted_at: ''
				}
			}
		},
		beforeRouteEnter(to, from, next) {
			// Get the category if router has id parameter
			if (to.params.id) {
				store.dispatch('category/getCategory', { id: to.params.id})
					.then(response => {
						next(vm => {
							vm.action = 'edit';
							vm.category = response.data;
						});
					});
			} else {
				// Otherwise continue
				next();
			}
		},
		methods: {
			success () {
				this.$store.dispatch(`category/${this.action}Category`, {
					category: this.category,
				})
					.then(response => {
						this.$logger.success(`
							Categoria
							${this.category.name}
							${this.action == 'add' ? 'adicionada' : 'editada'}
							com sucesso!
						`);
						this.previous();
					});
			},
			previous () {
				this.$router.push('/categories');
			}
		}
	}
</script>

<style lang="sass" scoped>
	.category{
		&__form{
			padding: 16px;
		}
		&__main,
		&__aside{
			display: block;
		}
	}
</style>
