<template>
	<md-layout md-gutter="16">
		<md-layout md-flex="100" class="md-subheading">
			Categoria
		</md-layout>

		<!-- Title -->
		<md-layout md-flex="50" md-flex-small="100">
			<md-input-container
				:class="{'md-input-invalid': errors.has('name')}"
			>
				<label>
					Nome
				</label>
				<md-input
					data-vv-name="name"
					v-model="value.name"
					v-validate="'required|min:4'"
					@change="onTitleChange"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('name')"
				>
					{{ errors.first('name') }}
				</span>
			</md-input-container>
		</md-layout>

		<!-- Slug -->
		<md-layout md-flex="50" md-flex-small="100">
			<mu-input-toggle v-model="slugDisabled">
				<md-input-container
					:class="{'md-input-invalid': errors.has('slug')}"
				>
					<label>
						Slug
					</label>
					<md-input
						data-vv-name="slug"
						v-model="value.slug"
						v-validate="'required|min:4'"
						:disabled="slugDisabled"
					>
					</md-input>

					<span
						class="md-error"
						v-show="errors.has('slug')"
					>
						{{ errors.first('slug') }}
					</span>
				</md-input-container>
			</mu-input-toggle>
		</md-layout>
	</md-layout>
</template>

<script>
	import { validateChild } from '../../core';

	export default {
		mixins: [validateChild],
		props: {
			value: {
				type: Object,
				default: () => {}
			}
		},
		data: () => ({
			slugDisabled: false
		}),
		methods: {
			onTitleChange(event) {
				if (!this.slugDisabled)
					this.value.slug = this.$options.filters['mu-slugify'](event);
			}
		}
	}
</script>
