<template>
	<mu-container>
		<md-toolbar slot="header" class="category__header">
			<md-button @click.native="toggleSidenav" class="md-icon-button">
				<md-icon>menu</md-icon>
			</md-button>

			<h2 class="md-title" style="flex: 1">
				Categorias
			</h2>

			<adm-search-input>
			</adm-search-input>
		</md-toolbar>

		<md-list slot="body">
			<adm-category-item
				v-for="category in categories"
				:category="category"
				:key="category.id"
				@click="editCategory"
				@delete="deleteCategory"
			>
			</adm-category-item>
		</md-list>

		<div slot="footer" class="category__footer">
			<md-button @click.native="add" class="md-fab">
				<md-icon>add</md-icon>
			</md-button>
		</div>
	</mu-container>
</template>

<script>
	import { mapMutations } from 'vuex';
	import { store } from '../../core';
	import CategoryItem from './CategoryItem';

	export default {
		components: {
			'adm-category-item': CategoryItem
		},
		data () {
			return {
				categories: [],
			}
		},
		/*
		 * Retrieve data before render component
		 */
		beforeRouteEnter (to, from, next) {
			store.dispatch('category/getCategories')
			.then(response => {
				next(vm => {
					if (response.status == 200) {
						vm.categories = response.body;
					}
				})
			});
		},
		methods: {
			...mapMutations({
				toggleSidenav: 'sidenav/toggle'
			}),
			editCategory (category) {
				this.$router.push(`/categories/edit/${category.id}`);
			},
			deleteCategory (category) {

				this.$store.dispatch('category/deleteCategory', category)
					.then(response => {
						let index = this.categories.indexOf(category)

						if (index != -1)
							this.categories.splice(index, 1);

						this.$logger.success(`Category ${category.title} excluída com sucesso!`);
					});
			},
			add () {
				this.$router.push('/categories/add');
			}
		}
	}
</script>
