<template>
	<mu-container>
		<md-toolbar slot="header">
			<md-button @click.native="previous" class="md-icon-button">
				<md-icon>arrow_back</md-icon>
			</md-button>

			<h2 class="md-title" style="flex: 1">
				{{ (action == 'add') ?
					'Adicionar Evento' :
					'Editar Evento'
				}}
			</h2>

			<md-button @click.native="submit(success)" class="md-icon-button">
				<md-icon>check</md-icon>
			</md-button>
		</md-toolbar>

		<form
			ref="form"
			class="event__form"
			slot="body"
		>
			<md-layout md-gutter="16">
				<md-layout
					class="event__main"
					md-flex-small="100"
					md-flex="66"
				>
					<adm-event-fieldset v-model="event" :institutions="institutions">
					</adm-event-fieldset>

					<adm-media-gallery
						v-model="gallery"
						@change="onGalleryAdd"
					>
					</adm-media-gallery>
				</md-layout>

				<md-layout
					class="event__aside"
					md-flex-small="100"
					md-flex="33"
				>
					<adm-model-status v-model="event">
					</adm-model-status>

					<adm-media-thumbnail
						title="Imagem destacada"
						v-model="event.thumbnail"
						@input="onThumbnailChange"
					>
					</adm-media-thumbnail>
				</md-layout>
			</md-layout>
		</form>
	</mu-container>
</template>

<script>
	import { mapGetters } from 'vuex';
	import { router, store, validateParent } from '../../core';

	export default {
		components: {
			'adm-event-fieldset': require('./EventFieldset'),
			'adm-media-thumbnail': require('../media/MediaThumbnail'),
			'adm-media-gallery': require('../media/MediaGallery')
		},
		mixins: [validateParent],
		data () {
			return {
				action: 'add',
				event: {
					title: '',
					slug: '',
					excerpt: '',
					date: '',
					content: {},
					thumbnail: null,
					institution_id: '',
					created_at: '',
					updated_at: '',
					deleted_at: ''
				},
				gallery: []
			}
		},
		beforeRouteEnter(to, from, next) {
			// Get the event if router has id parameter
			if (to.params.id) {
				Promise.all([
					store.dispatch('event/getEvent', { id: to.params.id}),
					store.dispatch('institution/fetchInstitutions')
				]).then(([event, institutions]) => {
					next(vm => {
						vm.action = 'edit';
						vm.event = event.data;

						vm.event.gallery.forEach(media => {
							vm.gallery.push({
								media_id: media.id,
								src: media.src,
								caption: media.caption,
								order: media.order
							});
						});

						vm.institutions.push(...institutions.body.data);
					});
				})
			} else {
				store.dispatch('institution/fetchInstitutions')
					.then(institutions => next());
			}
		},
		computed: {
			...mapGetters({
				institutions: 'institution/getInstitutions'
			})
		},
		methods: {
			success () {
				this.$store.dispatch(`event/${this.action}Event`, {
					event: this.event,
					gallery: this.gallery
				})
					.then(response => {
						this.$logger.success(`
							${this.event.title}
							${this.action == 'add' ? 'adicionada' : 'editada'}
							com sucesso!
						`);
						this.previous();
					});
			},
			previous () {
				this.$router.push('/events');
			},
			onThumbnailChange (media) {
				this.event.thumbnail_id = media ? media.id : null;
			},
			onGalleryAdd (medias) {
				medias.forEach(media => {
					this.gallery.push({
						media_id: media.id,
						caption: '',
						src: media.src
					});
				})
			}
		}
	}
</script>

<style lang="sass" scoped>
	.event{
		&__form{
			padding: 16px;
		}
		&__main,
		&__aside{
			display: block;
		}
	}
</style>
