<template>
	<mu-container>
		<md-toolbar slot="header">
			<md-button @click.native="previous" class="md-icon-button">
				<md-icon>arrow_back</md-icon>
			</md-button>

			<h2 class="md-title" style="flex: 1">
				{{ (action == 'add') ?
					'Adicionar Parceiro' :
					'Editar Parceiro'
				}}
			</h2>

			<md-button @click.native="submit(success)" class="md-icon-button">
				<md-icon>check</md-icon>
			</md-button>
		</md-toolbar>

		<form
			ref="form"
			class="partner__form"
			slot="body"
		>
			<md-layout md-gutter="16">
				<md-layout
					class="partner__main"
					md-flex-small="100"
					md-flex="66"
				>
					<adm-partner-fieldset v-model="partner">
					</adm-partner-fieldset>
				</md-layout>

				<md-layout
					class="partner__aside"
					md-flex-small="100"
					md-flex="33"
				>
					<adm-model-status v-model="partner">
					</adm-model-status>

					<adm-media-thumbnail
						title="Marca"
						v-model="partner.brand"
						@input="onThumbnailChange"
					>
					</adm-media-thumbnail>
				</md-layout>
			</md-layout>
		</form>
	</mu-container>
</template>

<script>
	import { router, store, validateParent } from '../../core';

	export default {
		components: {
			'adm-partner-fieldset': require('./PartnerFieldset'),
			'adm-media-thumbnail': require('../media/MediaThumbnail')
		},
		mixins: [validateParent],
		data () {
			return {
				action: 'add',
				partner: {
					name: '',
					brand: null,
					created_at: '',
					updated_at: '',
					deleted_at: ''
				}
			}
		},
		beforeRouteEnter(to, from, next) {
			// Get the partner if router has id parameter
			if (to.params.id) {
				store.dispatch('partner/getPartner', { id: to.params.id})
					.then(response => {
						next(vm => {
							vm.action = 'edit';
							vm.partner = response.data;
						});
					});
			} else {
				// Otherwise continue
				next();
			}
		},
		methods: {
			success () {
				this.$store.dispatch(`partner/${this.action}Partner`, {
					partner: this.partner,
				})
					.then(response => {
						this.$logger.success(`
							Parceiro
							${this.partner.name}
							${this.action == 'add' ? 'adicionado' : 'editado'}
							com sucesso!
						`);
						this.previous();
					});
			},
			previous () {
				this.$router.push('/partners');
			},
			onThumbnailChange (media) {
				this.partner.brand_id = media ? media.id : null;
			}
		}
	}
</script>

<style lang="sass" scoped>
	.partner{
		&__form{
			padding: 16px;
		}
		&__main,
		&__aside{
			display: block;
		}
	}
</style>
