<template>
	<md-layout md-gutter="16">
		<md-layout md-flex="100" class="md-subheading">
			Parceiro
		</md-layout>

		<!-- Name -->
		<md-layout md-flex="100">
			<md-input-container
				:class="{'md-input-invalid': errors.has('name')}"
			>
				<label>
					Nome
				</label>
				<md-input
					data-vv-name="name"
					v-model="value.name"
					v-validate="'required|min:4'"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('name')"
				>
					{{ errors.first('name') }}
				</span>
			</md-input-container>
		</md-layout>
	</md-layout>
</template>

<script>
	import { validateChild } from '../../core';

	export default {
		mixins: [validateChild],
		props: {
			value: {
				type: Object,
				default: () => {}
			}
		}
	}
</script>
