<template>
	<md-layout md-gutter="16">
		<md-layout md-flex="100" class="md-subheading">
			Dados Pessoais
		</md-layout>

		<!-- First Name -->
		<md-layout md-flex="50" md-flex-small="100">
			<md-input-container
				:class="{'md-input-invalid': errors.has('first_name')}"
			>
				<label>
					Nome
				</label>
				<md-input
					data-vv-name="first_name"
					v-model="value.first_name"
					v-validate="'required|min:4'"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('first_name')"
				>
					{{ errors.first('first_name') }}
				</span>
			</md-input-container>
		</md-layout>

		<!-- Last Name -->
		<md-layout md-flex="50" md-flex-small="100">
			<md-input-container
				:class="{'md-input-invalid': errors.has('last_name')}"
			>
				<label>
					Sobrenome
				</label>
				<md-input
					data-vv-name="last_name"
					v-model="value.last_name"
					v-validate="'required|min:4'"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('last_name')"
				>
					{{ errors.first('last_name') }}
				</span>
			</md-input-container>
		</md-layout>

		<!-- Email -->
		<md-layout md-flex="100">
			<md-input-container
				:class="{'md-input-invalid': errors.has('email')}"
			>
				<label>
					Email
				</label>
				<md-input
					type="email"
					data-vv-name="email"
					v-model="value.email"
					v-validate="'required|email|min:4'"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('email')"
				>
					{{ errors.first('email') }}
				</span>
			</md-input-container>
		</md-layout>

		<!-- Phone -->
		<md-layout md-flex="50">
			<md-input-container
				:class="{'md-input-invalid': errors.has('phone')}"
			>
				<label>
					Telefone
				</label>
				<md-input
					data-vv-name="phone"
					v-model="value.phone"
					v-validate="'min:14'"
					v-mask-phone
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('phone')"
				>
					{{ errors.first('phone') }}
				</span>
			</md-input-container>
		</md-layout>

		<!-- Mobile -->
		<md-layout md-flex="50">
			<md-input-container
				:class="{'md-input-invalid': errors.has('mobile')}"
			>
				<label>
					Celular
				</label>
				<md-input
					data-vv-name="mobile"
					v-model="value.mobile"
					v-validate="'min:14'"
					v-mask-phone
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('mobile')"
				>
					{{ errors.first('mobile') }}
				</span>
			</md-input-container>
		</md-layout>
	</md-layout>
</template>

<script>
	import { validateChild } from '../../core';

	export default {
		mixins: [validateChild],
		props: {
			value: {
				type: Object,
				default: () => {}
			}
		}
	}
</script>
