<template>
	<div class="media-gallery">
		<span class="media-gallery__label md-subheading">
			{{ title }}
		</span>

		<div class="media-gallery__thumbnails">
			<draggable :value="value" @input="onReorder" :options="options">
				<div class="media-gallery__media"
					v-for="(media, index) in value"
					:key="media.media_id"
				>
					<span class="media-gallery__dragger material-icons">
						drag_handle
					</span>

					<md-whiteframe>
						<mu-thumbnail class="media-gallery__thumbnail" :src="media.src">
							<md-button
								class="md-fab md-mini md-warn md-fab-top-right"
								@click="onDelete(index)"
							>
								<md-icon>delete</md-icon>
							</md-button>
						</mu-thumbnail>
					</md-whiteframe>

					<!-- Caption -->
					<md-input-container>
						<label>Legenda</label>
						<md-textarea
							v-model="media.caption"
						>
						</md-textarea>
					</md-input-container>
				</div>
			</draggable>
		</div>

		<md-button
			class="media-gallery__action md-button md-raised md-accent"
			@click="onSelect"
		>
			{{ action }}
		</md-button>

		<mu-gallery-dialog
			ref="dialog"
			@open="onOpen"
			@close="onClose"
			@accept="onChange"
		>
			<adm-media-image-list
				ref="list"
				:limit="10"
			>
			</adm-media-image-list>
		</mu-gallery-dialog>
	</div>
</template>

<script>
	export default {
		components: {
			'adm-media-image-list': require('./media-image/MediaImageList'),
			'draggable': require('vuedraggable')
		},
		props: {
			value: {
				type: Array,
				default: () => []
			},
			title: {
				type: String,
				default: 'Galeria',
			},
			action: {
				type: String,
				default: 'Adicionar'
			},
		},
		data: () => ({
			caption: '',
			options: {
				draggable: '.media-gallery__media',
				handle: '.media-gallery__dragger'
			}
		}),
		methods: {
			open (event) {
				this.$refs.dialog.open();
			},
			close (event) {
				this.$refs.dialog.close();
			},
			onSelect () {
				this.$store.dispatch('media/getImages')
				.then(response => {
					if (response.status == 200) {
						this.$refs.list.setImages(response.body.data);
						this.next_page_url = response.body.next_page_url;

						this.open();
					}
				});
			},
			onChange (event) {
				let current = this.value.map(media => media.media_id);
				let selected = [];

				// Remove selected media from array if it already exists
				this.$refs.list.getSelected().forEach((media, index) => {
					if (!current.includes(media.id))
						selected.push(media);
				});

				console.log(current, selected);

				this.$emit('change', selected);
			},
			onDelete (index) {
				this.value.splice(index, 1);
				this.$emit('delete', index);
			},
			onOpen() {
				this.$emit('open');
			},
			onClose() {
				this.$emit('close');
			},
			onReorder(event) {
				this.$emit('input', event);
			}
		}
	}
</script>

<style lang="sass">
	.media-gallery{
		&__label{
			display: block;
		}
		&__action{
			float: right;
			margin: 30px 0 0;
		}
		&__media{
			display: flex;
			margin-top: 20px;
			padding-left: 50px;
			position: relative;
			align-items: center;
			.md-whiteframe{
				flex: 0 150px;
			}
			.md-input-container{
				flex: 1;
				margin: 0 0 0 20px;
				textarea{
					// min-height: 130px;
				}
			}
		}
		&__dragger{
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);
			font-size: 2.2rem;
			padding: 0px;
			color: lighten(grey, 20%);
			cursor: move;
		}
	}
</style>
