<template>
	<mu-gallery-single
		ref="gallery"
		ratio="16:9"
		v-model="value"
		:title="title"
		:action="action"
		@select="onSelect"
		@change="onChange"
		@close="onClose"
		@delete="onDelete"
	>
		<adm-media-image-list
			ref="list"
		>
		</adm-media-image-list>
	</mu-gallery-single>
</template>

<script>
	export default {
		components: {
			'adm-media-image-list': require('./media-image/MediaImageList')
		},
		props: {
			value: {
				type: Object,
				default: () => {}
			},
			title: {
				type: String,
				default: 'Thumbnail'
			},
			action: {
				type: String,
				default: 'Modificar'
			}
		},
		methods: {
			onSelect (event) {
				this.$store.dispatch('media/getImages')
				.then(response => {
					if (response.status == 200) {
						this.$refs.list.images.push(...response.body.data);
						this.next_page_url = response.body.next_page_url;

						this.$refs.gallery.open();
					}
				});
			},
			onChange () {
				this.$emit('input', this.$refs.list.active);
			},
			onClose () {
				this.$refs.list.images = [];
			},
			onDelete () {
				this.$emit('input', null);
			}
		}
	}
</script>
