<template>
	<mu-container class="dashboard">
		<md-toolbar class="dashboard__header" slot="header">
			<md-button
				class="md-icon-button"
				@click.native="openSidenav"
			>
				<md-icon>menu</md-icon>
			</md-button>
			<span class="md-title">
				Dashboard
			</span>
		</md-toolbar>

		<div class="dashboard__body" slot="body">
			<md-layout md-gutter="16">
				<md-layout
					class="dashboard__donations"
					md-flex-small="100"
					md-flex="33"
				>
					<span class="dashboard__title md-subheading">
						<span>
							Últimas doações
						</span>
						<md-button @click="$router.push('/donations')">
							Ver todas
						</md-button>
					</span>

					<md-boards :md-infinite="true" :md-swipeable="true" v-if="donations.length > 0">
						<md-board v-for="donation in donations" :key="donation.id">
							<adm-donation-card :donation="donation"
								@click="openDonation(donation.id)"
							>
							</adm-donation-card>
						</md-board>
					</md-boards>
				</md-layout>

				<md-layout
					class="dashboard__featured"
					md-flex-small="100"
					md-flex="66"
				>
					<!-- Column -->
				</md-layout>

				<md-layout
					class="dashboard__volunteers"
					md-flex-small="100"
					md-flex="33"
				>
					<span class="dashboard__title md-subheading">
						<span>
							Últimos voluntários
						</span>
						<md-button @click="$router.push('/volunteers')">
							Ver todos
						</md-button>
					</span>

					<md-boards :md-infinite="true" :md-swipeable="true" v-if="volunteers.length > 0">
						<md-board v-for="volunteer in volunteers" :key="volunteer.id">
							<adm-volunteer-card :volunteer=volunteer @click="openVolunteer(volunteer.id)">
							</adm-volunteer-card>
						</md-board>
					</md-boards>
				</md-layout>
			</md-layout>
		</div>
	</mu-container>
</template>

<script>
	import { mapMutations } from 'vuex';
	import { store } from '../../core';

	export default {
		components: {
			'adm-donation-card': require('../donation/DonationCard'),
			'adm-volunteer-card': require('../volunteer/VolunteerCard')
		},
		data: () => ({
			donations: [],
			volunteers: []
		}),
		beforeRouteEnter(to, from, next) {
			Promise.all([
				store.dispatch('donation/getDonations'),
				store.dispatch('volunteer/getVolunteers')
			]).then(([donations, volunteers]) => {
				next(vm => {
					vm.donations.push(...donations.body.data);
					vm.volunteers.push(...volunteers.body.data);
				});
			});
		},
		methods: {
			...mapMutations({
				openSidenav: 'sidenav/open'
			}),
			openDonation(id) {
				this.$router.push(`/donations/${id}`);
			},
			openVolunteer(id) {
				this.$router.push(`/volunteers/edit/${id}`);
			}
		}
	}
</script>

<style lang="sass">
	.dashboard{
		&__body{
			padding: 16px 8px;
			align-content: flex-start;
		}
		&__row{
			height: 100%;
		}
		&__column{
			padding: 16px 0;
			align-self: flex-start;
			display: block;
		}
		&__title{
			padding: 0 16px;
			display: flex;
			align-items: center;
			width: 100%;
			span{
				flex: 0 100%;
			}
			.md-button{
				margin: 0;
				flex-shrink: 0;
			}
		}
		&__donations,
		&__volunteers,
		&__featured{
			align-content: flex-start;
			margin-bottom: 20px;
		}
		.container__body{
			position: relative;
		}
		.md-boards{
			height: auto !important;
		}
	}
</style>
