<template>
	<mu-container>
		<md-toolbar slot="header">
			<md-button @click.native="previous" class="md-icon-button">
				<md-icon>arrow_back</md-icon>
			</md-button>

			<h2 class="md-title" style="flex: 1">
				{{ (action == 'add') ?
					'Adicionar Página' :
					'Editar Página'
				}}
			</h2>

			<md-button @click.native="submit(success)" class="md-icon-button">
				<md-icon>check</md-icon>
			</md-button>
		</md-toolbar>

		<form
			ref="form"
			class="page__form"
			slot="body"
		>
			<md-layout md-gutter="16">
				<md-layout
					class="page__main"
					md-flex-small="100"
					md-flex="66"
				>
					<adm-page-fieldset v-model="page">
					</adm-page-fieldset>
				</md-layout>

				<md-layout
					class="page__aside"
					md-flex-small="100"
					md-flex="33"
				>
					<adm-model-status v-model="page">
					</adm-model-status>

					<adm-media-thumbnail
						title="Imagem destacada"
						v-model="page.thumbnail"
						@input="onThumbnailChange"
					>
					</adm-media-thumbnail>
				</md-layout>
			</md-layout>
		</form>
	</mu-container>
</template>

<script>
	import { router, store, validateParent } from '../../core';

	export default {
		components: {
			'adm-page-fieldset': require('./PageFieldset'),
			'adm-media-thumbnail': require('../media/MediaThumbnail'),
		},
		mixins: [validateParent],
		data () {
			return {
				action: 'add',
				page: {
					title: '',
					slug: '',
					excerpt: '',
					content: {},
					thumbnail: null,
					created_at: '',
					updated_at: '',
					deleted_at: ''
				}
			}
		},
		beforeRouteEnter(to, from, next) {
			// Get the page if router has id parameter
			if (to.params.id) {
				store.dispatch('page/getPage', { id: to.params.id})
					.then(response => {
						next(vm => {
							vm.action = 'edit';
							vm.page = response.data;
						});
					});
			} else {
				// Otherwise continue
				next();
			}
		},
		methods: {
			success () {
				this.$store.dispatch(`page/${this.action}Page`, {
					page: this.page,
				})
					.then(response => {
						this.$logger.success(`
							${this.page.title}
							${this.action == 'add' ? 'adicionada' : 'editada'}
							com sucesso!
						`);
						this.previous();
					});
			},
			previous () {
				this.$router.push('/pages');
			},
			onThumbnailChange (media) {
				this.page.thumbnail_id = media ? media.id : null;
			}
		}
	}
</script>

<style lang="sass" scoped>
	.page{
		&__form{
			padding: 16px;
		}
		&__main,
		&__aside{
			display: block;
		}
	}
</style>
