<template>
	<mu-container>
		<md-toolbar slot="header" class="page__header">
			<md-button @click.native="toggleSidenav" class="md-icon-button">
				<md-icon>menu</md-icon>
			</md-button>

			<h2 class="md-title" style="flex: 1">
				Páginas
			</h2>

			<adm-search-input>
			</adm-search-input>
		</md-toolbar>

		<md-list slot="body">
			<adm-page-item
				v-for="page in pages"
				:page="page"
				:key="page.id"
				@click="editPage"
				@delete="deletePage"
			>
			</adm-page-item>
		</md-list>

		<div slot="footer" class="page__footer">
			<md-button @click.native="add" class="md-fab">
				<md-icon>add</md-icon>
			</md-button>
		</div>
	</mu-container>
</template>

<script>
	import { mapMutations } from 'vuex';
	import { store } from '../../core';

	export default {
		components: {
			'adm-page-item': require('./PageItem')
		},
		data () {
			return {
				pages: [],
				next_page_url: null
			}
		},
		/*
		 * Retrieve data before render component
		 */
		beforeRouteEnter (to, from, next) {
			store.dispatch('page/getPages')
			.then(response => {
				next(vm => {
					if (response.status == 200) {
						vm.pages.push(...response.body.data);
						vm.next_page_url = response.body.next_page_url;
					}
				})
			});
		},
		methods: {
			...mapMutations({
				toggleSidenav: 'sidenav/toggle'
			}),
			editPage (page) {
				this.$router.push(`/pages/edit/${page.id}`);
			},
			deletePage (page) {

				this.$store.dispatch('page/deletePage', page)
					.then(response => {
						let index = this.pages.indexOf(page)

						if (index != -1)
							this.pages.splice(index, 1);

						this.$logger.success(`Página ${page.title} excluída com sucesso!`);
					});
			},
			add () {
				this.$router.push('/pages/add');
			}
		}
	}
</script>
