<template>
	<mu-container>
		<md-toolbar slot="header" class="client__header">
			<md-button @click.native="toggleSidenav" class="md-icon-button">
				<md-icon>menu</md-icon>
			</md-button>

			<h2 class="md-title" style="flex: 1">
				Clientes
			</h2>
		</md-toolbar>

		<md-list slot="body">
			<adm-oauth-client-item
				v-for="client in clients"
				:client="client"
				:key="client.id"
				@click="editClient"
				@delete="deleteClient"
			>
			</adm-oauth-client-item>
		</md-list>

		<template slot="footer" class="client__footer">
			<md-button @click.native="add" class="md-fab md-fab-bottom-right">
				<md-icon>add</md-icon>
			</md-button>
		</template>
	</mu-container>
</template>

<script>
	import { mapMutations } from 'vuex';
	import { store, router } from '../../../core';
	import OAuthClientItem from './OAuthClientItem'; 

	export default {
		components: {
			'adm-oauth-client-item': OAuthClientItem
		},
		data () {
			return {
				clients: [],
				next_page_url: null
			}
		},
		/*
		 * Retrieve data before render component
		 */
		beforeRouteEnter (to, from, next) {
			store.dispatch('oauth/client/getClients')
			.then(response => {
				next(vm => {
					if (response.status == 200) {
						vm.clients.push(...response.body.data);
						vm.next = response.body.next_page_url;
					}
				})
			});
		},
		methods: {
			...mapMutations({
				toggleSidenav: 'sidenav/toggle'
			}),
			editClient (client) {
				router.push('/oauth/clients/edit/' + client.id);
			},
			deleteClient (client) {
				this.$store.dispatch('oauth/client/deleteClient', client)
					.then(response => {
						let index = this.clients.indexOf(client)

						if (index != -1)
							this.clients.splice(index, 1);

						this.$logger.success(`${client.name} excluido com sucesso!`);
					});
			},
			add () {
				router.push('/oauth/clients/add');
			}
		}
	}
</script>
