<template>
	<div style="flex:1">
		<span class="md-subheading">
			Clientes
		</span>

		<!-- Name -->
		<md-input-container
			:class="{'md-input-invalid': errors.has('name')}"
		>
			<label>
				Nome
			</label>
			<md-input
				data-vv-name="name"
				v-model="value.name"
				v-validate="'required|min:4'"
			>
			</md-input>

			<span
				class="md-error"
				v-show="errors.has('name')"
			>
				{{ errors.first('name') }}
			</span>
		</md-input-container>

		<!-- ID -->
		<md-input-container
			:class="{'md-input-invalid': errors.has('id')}"
		>
			<label>
				Client ID
			</label>
			<md-input
				data-vv-name="id"
				v-model="value.id"
				v-validate="'required'"
				:disabled="action == 'edit'"
			>
			</md-input>

			<span
				class="md-error"
				v-show="errors.has('id')"
			>
				{{ errors.first('id') }}
			</span>
		</md-input-container>

		<!-- Secret -->
		<md-input-container
			:class="{'md-input-invalid': errors.has('secret')}"
			md-has-password
		>
			<label>
				Client Secret
			</label>
			<md-input
				type="password"
				data-vv-name="secret"
				v-model="value.secret"
				v-validate="'required'"
			>
			</md-input>

			<span
				class="md-error"
				v-show="errors.has('secret')"
			>
				{{ errors.first('secret') }}
			</span>
		</md-input-container>

		<md-button @click.native="value.secret = generateKey(20)" class="client__generate md-primary md-raised">
			Gerar Novo Secret
		</md-button>
	</div>
</template>

<script>
	import crypto from 'crypto';
	import { validateChild } from '../../../core';

	export default {
		mixins: [validateChild],
		props: {
			value: {
				type: Object,
				default: () => {}
			},
			action: {
				type: String,
				default: 'add'
			}
		},
		methods: {
			generateKey (size) {
				return crypto.randomBytes(size).toString('hex');
			}
		}
	}
</script>

<style lang="sass" scoped>
	.client{
		&__generate{
			margin: 0 0 20px;
		}
	}
</style>
