<template>
	<md-list-item @click="onClick">
		<md-avatar class="md-avatar-icon">
			<md-icon>
				verified_user
			</md-icon>
		</md-avatar>

		<div class="md-list-text-container">
			<span>{{ client.name }}</span>
			<span>
				<template v-for="scope in client.scopes">
					{{ scope.id }}
				</template>
			</span>
		</div>

		<md-button class="md-icon-button md-list-action">
			<md-icon @click.native.stop="openDialog">
				delete
			</md-icon>
		</md-button>

		<md-divider class="md-inset"></md-divider>
		<!-- Delete Dialog -->
		<md-dialog ref="dialog">
			<!-- Dialog Content -->
			<md-dialog-title>
				Delete Client
			</md-dialog-title>

			<md-dialog-content>
				Are you sure you want to delete client <b>{{ client.name }}</b>?
			</md-dialog-content>

			<!-- Dialog Actions -->
			<md-dialog-actions>
				<md-button
					class="md-primary"
					@click.native="closeDialog()"
				>
					Cancel
				</md-button>

				<md-button
					class="md-primary"
					@click.native="closeDialog(); onDelete($event)"
				>
					Delete
				</md-button>
			</md-dialog-actions>
		</md-dialog>
	</md-list-item>
</template>

<script>
	export default {
		props: {
			client: {
				type: Object,
				default: () => {}
			}
		},
		methods: {
			openDialog() {
				this.$refs.dialog.open();
			},
			closeDialog() {
				this.$refs.dialog.close();
			},
			onClick (event) {
				this.$emit('click', this.client)
			},
			onDelete (event) {
				this.$emit('delete', this.client);
			}
		}
	}
</script>

<style>
</style>
