<template>
	<mu-container>
		<md-toolbar slot="header">
			<md-button @click.native="previous" class="md-icon-button">
				<md-icon>arrow_back</md-icon>
			</md-button>

			<h2 class="md-title" style="flex: 1">
				{{ (action == 'add') ?
					'Adicionar Cliente' :
					'Editar Cliente'
				}}
			</h2>

			<md-button @click.native="submit(success)" class="md-icon-button">
				<md-icon>check</md-icon>
			</md-button>
		</md-toolbar>

		<form
			ref="form"
			class="client__form"
			slot="body"
		>
			<md-layout md-gutter="16">
				<md-layout
					class="client__main"
					md-flex-small="100"
					md-flex="66"
				>
					<adm-oauth-client-fieldset
						v-model="client"
						:action="action"
					>
					</adm-oauth-client-fieldset>
				</md-layout>

				<md-layout
					class="client__aside"
					md-flex-small="100"
					md-flex="33"
				>
					<adm-oauth-scope-picker
						v-model="client.scopes"
						:options="scopes"
						@change="onScopesChange"
					>
					</adm-oauth-scope-picker>
				</md-layout>
			</md-layout>
		</form>
	</mu-container>
</template>

<script>
	import { router, store, validateParent } from '../../../core';
	import OAuthClientFieldset from './OAuthClientFieldset';
	import OAuthScopePicker from '../oauth-scope/OAuthScopePicker';

	export default {
		components: {
			'adm-oauth-client-fieldset': OAuthClientFieldset,
			'adm-oauth-scope-picker': OAuthScopePicker
		},
		mixins: [validateParent],
		data () {
			return {
				action: 'add',
				client: {
					id: '',
					name: '',
					secret: '',
					scopes: []
				},
				scopes: []
			}
		},
		beforeRouteEnter(to, from, next) {
			store.dispatch('oauth/scope/getScopes').
				then(response => {
					let scopes = response.data;

					// Get the client if router has id parameter
					if (to.params.id) {
						store.dispatch('oauth/client/getClient', { id: to.params.id})
							.then(response => {
								next(vm => {
									vm.action = 'edit';
									vm.client = response.data;
									vm.client.scopes = response.data.scopes.map(scope => scope.id);
									vm.scopes = scopes.map(scope => scope.id);
								});
							});
					} else {
						// Otherwise continue
						next(vm => {
							vm.scopes = scopes.map(scope => scope.id);
						});
					}
			});
		},
		methods: {
			success () {
				this.$store.dispatch(`oauth/client/${this.action}Client`, this.client)
					.then(response => {
						this.$logger.success(`
							${this.client.name}
							${this.action == 'add' ? 'adicionado' : 'editado'}
							com sucesso!
						`);
						this.previous();
					});
			},
			previous () {
				router.push('/oauth/clients');
			},
			onScopesChange (scopes) {
				this.client.scopes = scopes;
			}
		}
	}
</script>

<style lang="sass" scoped>
	.client{
		&__form{
			padding: 16px;
		}
		&__main,
		&__aside{
			flex-flow: column wrap;
		}
	}
</style>
