<template>
	<mu-container>
		<md-toolbar slot="header" class="post__header">
			<md-button @click.native="toggleSidenav" class="md-icon-button">
				<md-icon>menu</md-icon>
			</md-button>

			<h2 class="md-title" style="flex: 1">
				Postagens
			</h2>

			<adm-search-input>
			</adm-search-input>
		</md-toolbar>

		<md-list slot="body">
			<adm-post-item
				v-for="post in posts"
				:post="post"
				:key="post.id"
				@click="editPost"
				@delete="deletePost"
			>
			</adm-post-item>
		</md-list>

		<div slot="footer" class="post__footer">
			<md-button @click.native="add" class="md-fab">
				<md-icon>add</md-icon>
			</md-button>
		</div>
	</mu-container>
</template>

<script>
	import { mapMutations } from 'vuex';
	import { store } from '../../core';
	import PostItem from './PostItem';

	export default {
		components: {
			'adm-post-item': PostItem
		},
		data () {
			return {
				posts: [],
				next_post_url: null
			}
		},
		/*
		 * Retrieve data before render component
		 */
		beforeRouteEnter (to, from, next) {
			store.dispatch('post/getPosts')
			.then(response => {
				next(vm => {
					if (response.status == 200) {
						vm.posts.push(...response.body.data);
						vm.next = response.body.next_post_url;
					}
				})
			});
		},
		methods: {
			...mapMutations({
				toggleSidenav: 'sidenav/toggle'
			}),
			editPost (post) {
				this.$router.push(`/posts/edit/${post.id}`);
			},
			deletePost (post) {

				this.$store.dispatch('post/deletePost', post)
					.then(response => {
						let index = this.posts.indexOf(post)

						if (index != -1)
							this.posts.splice(index, 1);

						this.$logger.success(`Post ${post.title} excluída com sucesso!`);
					});
			},
			add () {
				this.$router.push('/posts/add');
			}
		}
	}
</script>
