<template>
	<adm-panel>
	</adm-panel>
</template>

<script>
	export default {
		components: {
			'adm-panel': require('./components/panel/Panel')
		},
		mounted() {
			document.title = 'AEV – Painel Administrativo';
		},
	}
</script>

<style lang="sass">
	body{
		height: 100%;
		overflow: hidden;
	}

	// NProgress
	#nprogress{
		.bar{
			background: #E91E63 !important;
		}
		.peg{
			box-shadow: 0 0 10px #E91E63, 0 0 5px #E91E63 !important;
		}
		.spinner{
			display: none !important;
		}
	}

	// Fade
	.fade-enter-active {
		transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	}
	.fade-leave-active {
		transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	}
	.fade-enter {
		opacity: 0;
	}
	.fade-leave-active {
		opacity: 0;
	}

	// Scale Fade
	.scale-fade-enter-active {
		transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	}
	.scale-fade-leave-active {
		transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	}
	.scale-fade-enter {
		opacity: 0;
		transform: scale(1.2);
	}
	.scale-fade-leave-active {
		opacity: 0;
		transform: scale(0.8);
	}
</style>
