<template>
	<mu-auth
		@submit="validateBeforeSubmit"
	>
		<template slot="form">
			<!-- Username -->
			<md-input-container
				:class="{'md-input-invalid': errors.has('username')}"
			>
				<label>Login</label>
				<md-input
					data-vv-name="username"
					v-model="user.username"
					v-validate="'required|min:4'"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('username')"
				>
					{{ errors.first('username') }}
				</span>
			</md-input-container>

			<!-- Password -->
			<md-input-container
				:class="{'md-input-invalid': errors.has('password')}"
			>
				<label>Senha</label>
				<md-input
					type="password"
					data-vv-name="password"
					v-model="user.password"
					v-validate="'required|min:5'"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('password')"
				>
					{{ errors.first('password') }}
				</span>
			</md-input-container>
		</template>

		<template slot="footer">
			<md-button
				type="submit"
				class="auth__login md-raised md-primary"
			>
				Entrar
			</md-button>

			<router-link
				class="auth__forgot"
				to="/auth/forgot"
			>
				Esqueci minha senha
			</router-link>
		</template>
	</mu-auth>
</template>

<script>
	export default {
		data() {
			return {
				user: {
					username: '',
					password: ''
				}
			}
		},
		methods: {
			validateBeforeSubmit() {
				this.$validator.validateAll()
					.then(success => {
						if (!success)
							return;

						this.$store.dispatch('auth/login', {
							username: this.user.username,
							password: this.user.password,
						})
							.then(response => {
								this.$store.dispatch('oauth/getToken', {
									grant_type: 'password',
									username: this.user.username,
									password: this.user.password,
									user_id: response.body.user_id,
									callback: () => {
										var user = this.$store.state.auth.user;

										this.$router.push('/dashboard');
										this.$logger.success(`Bem vindo ${user.profile.given_name}!`);
									}
								})
							}, error => {
								if (error.status == 401) {
									this.$logger.error('Dados não conferem, tente novamente.');
								} else {
									this.$logger.error(error.statusText);
								}
							});
					});
			}
		}
	}
</script>

<style lang="sass">
	.auth{
		&__login{
			margin: 0;
			width: 100%;
		}
		&__forgot{
			display: block;
			font-size: 12px;
			margin-top: 15px;
		}
	}
</style>
