<template>
	<mu-auth
		@submit="validateBeforeSubmit"
	>
		<h2 slot="header" class="auth-forgot__title md-title">
			Redefinir senha
		</h2>

		<template slot="form">
			<!-- Password -->
			<md-input-container
				:class="{'md-input-invalid': errors.has('password')}"
			>
				<label>
					Senha
				</label>
				<md-input
					type="password"
					data-vv-name="password"
					v-model="password.first"
					v-validate="'required|confirmed:confirm|min:6'"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('password')"
				>
					{{ errors.first('password') }}
				</span>
			</md-input-container>

			<!-- Confirm -->
			<md-input-container
				:class="{'md-input-invalid': errors.has('confirm')}"
			>
				<label>
					Confirmação
				</label>
				<md-input
					type="password"
					name="confirm"
					data-vv-name="confirm"
					v-model="password.second"
					v-validate="'min:6|required'"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('confirm')"
				>
					{{ errors.first('confirm') }}
				</span>
			</md-input-container>
		</template>

		<template slot="footer">
			<md-button
				type="submit"
				class="auth-forgot__submit md-raised md-primary"
				:disabled="sending"
			>
				Enviar
			</md-button>

			<router-link
				class="auth-forgot__login"
				to="/auth/login"
			>
				Já tem uma conta? Faça o login!
			</router-link>
		</template>
	</mu-auth>
</template>

<script>
	export default {
		data () {
			return {
				password: {
					first: '',
					second: ''
				},
				sending: false
			}
		},
		methods: {
			validateBeforeSubmit() {
				if (this.sending)
					return;

				this.$validator.validateAll()
					.then(success => {
						if (!success)
							return;

						this.sending = true;

						this.$store.dispatch('password/reset', {
							email: this.$route.params.email,
							token: this.$route.params.token,
							password: this.password.first,
							password_confirmation: this.password.second
						}).then(response => {
							if (response.body.success) {
								this.$router.push('/auth');
								this.$logger.success('Senha redefinida com sucesso!');
							}

							this.sending = false;
						}, error => {
							this.$router.push('/auth/forgot');
							this.$logger.error('Link expirado, crie uma nova solicitação.');

							this.sending = false;
						});
					})
			}
		}
	}
</script>

<style lang="sass">
	.auth-forgot{
		&__submit{
			margin: 0;
			width: 100%;
		}
		&__login{
			display: block;
			font-size: 12px;
			margin-top: 15px;
		}
		&__title{
			width: 100%;
		}
	}
</style>
