<template>
	<mu-auth
		@submit="validateBeforeSubmit"
	>
		<h2 slot="header" class="auth-forgot__title md-title">
			Esqueci minha senha
		</h2>

		<template slot="form">
			<!-- Email Input -->
			<md-input-container
				:class="{'md-input-invalid': errors.has('email')}"
			>
				<label>Email</label>
				<md-input
					data-vv-name="email"
					v-model="email"
					v-validate="'required|email'"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('email')"
				>
					{{ errors.first('email') }}
				</span>

				<md-dialog-alert
					ref="dialog"
					md-title="Troca de senha solicitada"
					md-content="Siga os passos enviados para sua caixa de email."
					md-ok-text="Ok"
					@close="onClose"
				>
				</md-dialog-alert>
			</md-input-container>
		</template>

		<template slot="footer">
			<md-button
				type="submit"
				class="auth-forgot__submit md-raised md-primary"
				:disabled="sending"
			>
				Enviar
			</md-button>

			<router-link
				class="auth-forgot__login"
				to="/auth/login"
			>
				Já tem uma conta? Faça o login!
			</router-link>
		</template>
	</mu-auth>
</template>

<script>
	export default {
		data () {
			return {
				email: '',
				sending: false
			}
		},
		methods: {
			validateBeforeSubmit() {
				if (this.sending)
					return;

				this.$validator.validateAll()
					.then(success => {
						if (!success)
							return;

						this.sending = true;

						this.$store.dispatch('password/email', {
							email: this.email
						}).then(response => {
							if (response.body.success) {
								this.$refs.dialog.open();
							} else {
								this.$logger.error('Usuário não encontrado.');
							}

							this.sending = false;
						}, error => {
							this.$logger.error(error.statusText)
							this.sending = false;
						});
					})
			},

			onClose() {
				this.$router.push('/auth');
			}
		}
	}
</script>

<style lang="sass">
	.auth-forgot{
		&__submit{
			margin: 0;
			width: 100%;
		}
		&__login{
			display: block;
			font-size: 12px;
			margin-top: 15px;
		}
		&__title{
			width: 100%;
		}
	}
</style>
